header {
    height: 60px;
    border-bottom: 1px solid lightgray;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.767);
}

aside{
    position: fixed;
    top: 60px;
    width: 150px;
    height: calc(100vh - 60px);
    border-right: 1px solid lightgray;
}

main {
    background-color: orangered;
    margin-top: 60px;
    height: 500px;
    margin-left: 150px;
}

#logo-container {
    float: left;
    margin-top: 5px;
    padding-left: 10px;
}

#social-icons-container {
    float: right;
    margin-top: 20px;
    margin-right: 10px;
}

#social-icons-container i {
    padding: 10px 10px;
    font-size: 1.3rem;
    cursor: pointer;
}

#social-icons-container i:hover {
    background-color: rgba(211, 211, 211, 0.308);
    border-radius: 50%;
}

#social-icons-container i:first-child:hover{
    color: blue;
}

#social-icons-container i:nth-child(3):hover{
    color: red;
}

#main-menu li {
    padding: 10px;
    text-align: center;
    cursor: pointer;
    border-bottom: 1px solid lightgray;;
}

#main-menu li:hover {
    background-color: lightgray;
}

.drop-down-menu {
    position: relative;
}

.drop-down-menu:hover .sub-menu {
    opacity: 1;
}

.sub-menu {
    min-width: 100px;
    background-color: white;
    border: 1px solid lightgray;
    border-top: none;
    border-bottom: none;
    position: absolute;
    left: 100%;
    top: 0;
    opacity: 0;
    transition: opacity 200ms;
}

#slider {
    height: 500px;
    background-image: url(../img/slides/slide-1.jpg);
    background-size: cover;
    background-position: center;
    animation-name: slider;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes slider {
    from {
        background-image: url(../img/slides/slide-1.jpg);
    }

    25%{
        background-image: url(../img/slides/slide-2.png);
    }

    50%{
        background-image: url(../img/slides/slide-3.jpg);
    } 
    
    75%{
        background-image: url(../img/slides/slide-4.jpg);
    }    

    to{
        background-image: url(../img/slides/slide-5.jpg);
    }
}

main h1 {
    font-size: 2rem;
    font-weight: bold;
    text-align: left;
    padding: 10px;
}

main h2{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px;
    color: rgb(78, 78, 78);
}

main p{
    padding: 10px;
    line-height: 2;
}

main img {
    float: right;
    padding-left: 5px;
}

.clearfix {
    clear: both;
}

footer {
    text-align: center;
    padding: 10px;
    border-top: 1px solid lightgray;
}

.drop-down-menu::before{
    content: "";
    display: block;
    width: 0;
    border: 5px solid;
    border-left-color: black;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
}